.about-me img {
	float: right;
}

#main-container > * {
  display: none;
}

#main-container > *:last-child {
  display: block;
}

#main-container > *:target {
  display: block;
  animation: fade 300ms linear 1;
}
  
#main-container > *:target ~ * {
  display: none;
}

#registration-form {
  width: 600px;
  margin: 0 auto;
}

.col-md-4 {
  width: 350px;
  max-width: 350px;
  margin: 0 auto;
}

#registration-form label {
  padding: 0;
}

#registration-form legend {
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

#third-section {
	margin-top: 25px;
}

a:hover {
	text-decoration: none;
	
}

#pass-error-info {
	color: red;
}